*{
    font-family: 'Roboto', sans-serif;
}

.bg-color-header{
    background-color: #748CAB;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand{
    max-width: 60px;
}



.carousel-control-prev
.carousel-control-next{
    font-size: 3rem;
    font-weight: 700;
    color: #F0EBD8 ;
}

