*{
    font-family: 'Roboto', sans-serif;
}

.bg-color-header{
    background-color: #748CAB;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    font-size: 28px;
}

.navbar-brand{
    max-width: 60px;
}

.carousel-indicators{
    padding: 6rem;
}

.carousel-caption{
    margin-bottom: -2rem;
}

.carousel-control-prev
.carousel-control-next{
    font-size: 3rem;
    font-weight: 700;
    color: #F0EBD8 ;
}

.card{
    margin-top: -5rem;
}

.btn{

    margin: 0 0 8rem 0;
}

@media (max-width: 200){
    #slider{
   margin-top: 4 rem;
    }
}

/* DESTAQUES */
#featured-container {
    margin-bottom: 4em;
  }
  
  .title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
  }
  
  .title:before {
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: '';
    position: absolute;
    bottom: 2em;
  }
  
  #featured-images {
    margin-top: 2em;
  }
  
  #featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
  }
  
  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
  }
  
  #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 2.4em;
    }
  
    .title:before {
      bottom: 1.5em;
    }
  
    #featured-images .banner-content {
      opacity: 0;
    }
  }
  
  /* INFO */
  #info-content {
    margin-bottom: 8em;
    padding: 4em 1em;
  }
  
  #info-numbers {
    margin: 1.5em 0;
  }
  
  #info-banner {
    align-items: center;
    display: flex;
    margin-bottom: 2.5em;
  }
  
  #info-numbers h3 {
    font-size: 3em;
  }
  
  @media (min-width: 768px) {
    #info-content {
      padding: 3.5em;
    }
  }
  
  /* FOOTER TOP */
  #footer {
    padding: 3em 2em;
    color: white;
  }
  
  #footer-top {
    margin-bottom: 2em;
  }
  
  #footer-top,
  #footer-top i {
    color: #fff;
  }
  
  #social-icons {
    text-align: right;
  }
  
  #social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  #social-icons i:hover {
    color: #7a7a7a;
  }
  
  /* FOOTER DETAILS */
  #footer-details {
    margin-bottom: 3em;
  }
  
  #news-container,
  #contact-container,
  #links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
  }
  
  #footer-details h4 {
    color: #fff;
    margin-bottom: 1.5em;
  }
  
  #news-container input {
    border-radius: 0;
    border: none;
  }
  
  #links-container li {
    margin-bottom: 0.5em;
  }
  
  #links-container a {
    text-decoration: none;
  }
  
  #links-container a:hover {
    color: #fff;
  }
  
  /* Forms */
  
  .form-control{
    width: 20rem;
  }