*{
    font-family: 'Roboto', sans-serif;
}

.bg-color-header{
    background-color: #748CAB;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    font-size: 28px;
}

.navbar-brand{
    max-width: 60px;
}

.carousel-indicators{
    padding: 6rem;
}

.carousel-caption{
    margin-bottom: -2rem;
}

.carousel-control-prev
.carousel-control-next{
    font-size: 3rem;
    font-weight: 700;
    color: #F0EBD8 ;
}

.card{
    margin-top: -5rem;
}

.btn{

    margin: 0 0 8rem 0;
}

@media (max-width: 200){
    #slider{
   margin-top: 4 rem;
    }
}